spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/surfApp?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: PUGGCANDIA9703:*paw
  jpa:
    spring.jpa.open-in-view: false
    hibernate:
      ddl-auto: update
      defer-datasource-initialization: true
      sql:
        init:
          mode: never

  spring:
    mvc:
      hiddenmethod:
        filter:
          enabled: true

  stories:
    api:
      baseURL: "http://localhost:8081"

