<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
        <a class="navbar-brand" href="/">
            <img alt="man profilePicture" th:src="@{/images/android-chrome-200x200.png}" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">

                <li class="nav-item">
                    <a class="nav-link"  href="/">SEARCH</a>
                </li>

                <li class="nav-item"
                >
                    <a class="nav-link"  href="/">ALL CAMPS</a>
                </li>
                <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item" >
                    <a class="nav-link"   href="">ADD CAMP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">MY CAMPS</a>
                </li>
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ADMIN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/">Action</a>
                        <a class="dropdown-item" href="/">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">Something else here</a>
                    </div>
                </li>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link"
                       href="/register">REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="/login">LOGIN</a>
                </li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="javascript: document.logoutForm.submit()" role="menuitem">LOGOUT</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>
                </li>

                </th:block>
            </ul>
        </div>
    </nav>

</div>

</body>
</html>