<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
        <a class="navbar-brand" href="/">
            <img alt="man profilePicture" th:src="@{/images/android-chrome-200x200.png}" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">

                <li class="nav-item">
                    <a class="nav-link" href="/" th:text="#{nav_bar_search}">SEARCH</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/" th:text="#{nav_bar_all_camps}">ALL CAMPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stories/all" th:text="#{nav_bar_all_stories}">STORIES</a>
                </li>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="/" th:text="#{nav_bar_add_camp}">ADD CAMP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stories/add" th:text="#{nav_bar_add_story}">ADD STORY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/" th:text="#{nav_bar_my_camps}">MY CAMPS</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="/" th:text="#{nav_bar_admin}" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ADMIN
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">Action</a>
                            <a class="dropdown-item" href="/">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">Something else here</a>
                        </div>
                    </li>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/register" th:text="#{nav_bar_register}">REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/login" th:text="#{nav_bar_login}">LOGIN</a>
                    </li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: document.logoutForm.submit()" th:text="#{nav_bar_logout}" role="menuitem">LOGOUT</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Sign Out"/>
                        </form>
                    </li>
                </th:block>

                <li class="nav-item">
                    <form th:method="GET">
                        <select class="nav-link mr-2"
                                id="lang"
                                name="lang"
                                onchange="this.form.submit()">
                            <option th:value="en" th:selected="${#locale.toString()} =='en'" >EN</option>
                            <option th:value="bg" th:selected="${#locale.toString()} =='bg'">BG</option>
                        </select>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

</div>

</body>
</html>