body {
     background-image: url('/images/model_bebe.jpeg');

     justify-content: center;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #464646;

}

.welcome-message {
     text-align: center;
     color: #f8f9fa;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.64);
     text-transform: uppercase;
     font-size: 3em;
     font-weight: bold;
     animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
     0% { opacity: 0; transform: translateY(-20px); }
     100% { opacity: 1; transform: translateY(0); }
}

.navbar .logo {
     max-height: 50px;
     padding-right: 100px;
}

.container, .container-fluid {
     padding-top: 90px;
     min-height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.bg-text {
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
     color: white;
     font-weight: bold;
     border: 3px solid #f1f1f1;
     z-index: 2;
     width: 80%;
     padding: 20px;
     text-align: center;

}

.brand-section {
     background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

td, th {
     padding: 3px 8px;
}

.card.offer, .offer-details .list-group-item {
     background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}
.card-img-top-wrapper {
     height: 150px;
     overflow:hidden;
}

form.main-form {
     background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
     padding:10px 30px;
     border-radius: 20px;
     margin-top: 20px;
}
.button-holder {
     justify-content: center;
}
.field-error {
     background: white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="red" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg> ') no-repeat top right/30px 30px;
}

.story-resumed {
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     overflow: hidden;
     text-overflow: ellipsis;
}
.inspirational-message {
     font-size: 2.5rem;
     font-weight: bold;
     color: #f8f9fa;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.64);
     animation: pulse 2s infinite;
     transform-origin: center top;
}
@keyframes pulse {
     0% {
          transform: scaleY(1);
     }
     50% {
          transform: scaleY(1.1);
     }
     100% {
          transform: scaleY(1);
     }
}

.story-title {
     font-weight: bold;
     text-decoration: none;
     color: #84d8de; /* Primary color */
}
.story-title:hover {
     color: #32c5cc;
     text-decoration: underline;
}


.story-card {
     max-width: 800px;
     margin: 0 auto;
     background-color: #f8f9fa;
}
.card-header {
     background-color: #84d8de;
}
.card-header h3 {
     margin: 0;
}
.card-title {
     font-weight: bold;
}
.card-text small {
     color: #6c757d;
}

.back-button {
     display: block;
     width: 200px;
     margin: 20px auto;
     padding: 10px;
     text-align: center;
     color: #fff;
     background-color: #84d8de;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     text-decoration: none;
}
.back-button:hover {
     background-color: #ffffff;
     color: #84d8de;
     text-decoration: none;
}