<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <title>SurfXperience</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </style>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container-fluid" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="welcome-message">
        Welcome to SurfXperience, <span th:text="${welcomeMessage}"></span>!
    </div>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
