<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <title>SurfXperience</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container-fluid">
    <h5 class="inspirational-message text-center mt-5">DIVE INTO THE VIBE..</h5>

    <div class="stories-container d-flex flex-column align-items-center mt-5">
        <div th:each="story : ${allStories}"
             class="story mb-4 p-3 border rounded"
             style="width: 60%; background-color: #f8f9fa;">
            <h3 th:text="${story.campName}"></h3>
            <p class="story-resumed"
               th:text="${story.storyText}">This is a part of the story text...</p>
        </div>
    </div>

</div>




<div>
    <footer> </footer>
</div>

</body>
</html>

